<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">

    <Appenders>
        <!--<Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} - %msg%n"/>
        </Console>-->
        
        <RollingFile name="RollingFileInfo" fileName="${env:EBR_ROOT}/logs/info_ebr_server.log"
                     filePattern="${env:EBR_ROOT}/logs/%d{yyyy-MM-sdd}/info_ebr_server_%d{yyyy-MM-dd}_%i.log">
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="30MB"/>
            </Policies>
            <DefaultRolloverStrategy max="32"/>
        </RollingFile>
        <RollingFile name="RollingFileError" fileName="${env:EBR_ROOT}/logs/error_ebr_server.log"
                     filePattern="${env:EBR_ROOT}/logs/%d{yyyy-MM-dd}/error_ebr_server_%d{yyyy-MM-dd}_%i.log">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="30MB"/>
            </Policies>
            <DefaultRolloverStrategy max="32"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="all">
            <!--<AppenderRef ref="Console"/>-->
            <AppenderRef ref="RollingFileInfo"/>
            <AppenderRef ref="RollingFileError"/>
        </Root>
    </Loggers>
</Configuration>