html, body {
    height: 100%;
    background: #FFFFFF;
}
/* =========== visible ========== */
.ebr-invisible {
  visibility: hidden !important;
  display:none !important;
}

/* =========== layout ========== */
.ebr-main {
    width: 100%;
    height: 100%;
    padding: 0px 20px 0px 20px;
    margin-left: 90px;
}

.ebr-container {
    display: inline-flex;
    width: 100%;
    height: 100%;
}

.ebr-sidebar {
    position: fixed;
    width: 85px;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    z-index: 9;
    display: inline-flex;
}

.ebr-panel {
    display: inline-grid;
    width: 100%;
    height: 100%;
}

.ebr-panel-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

.ebr-panel-navbar {
    position: fixed;
    display: inline-grid;
    height: 65px;
    width: 100%;
    background: #FFFFFF;
}

.ebr-panel-navbar-items {
    height: 100%;
    width: 100%;
    position:sticky;
    display: flex;
    align-items: center;
}

.ebr-panel-content {
    margin-top: 70px;
}

.ebr-inner-card-body {
    margin: 10px 20px 10px 30px;
}

.ebr-panel-flex-content {
    display: inline-flex;
    margin-top: 70px;
}

.ebr-flex-col-2 {
    padding: 5px 10px 5px 10px;
    width: 25%;
}

.ebr-flex-col-3 {
    padding: 5px 10px 5px 10px;
    width: 30%;
}

.ebr-flex-col-4 {
    padding: 5px 10px 5px 10px;
    width: 40%;
}

.ebr-flex-col-5 {
    padding: 5px 10px 5px 10px;
    width: 50%;
}

.ebr-flex-col-6 {
    padding: 5px 10px 5px 10px;
    width: 60%;
}

.ebr-flex-col-7 {
    padding: 5px 10px 5px 10px;
    width: 70%;
}

.ebr-flex-col-8 {
    padding: 5px 10px 5px 10px;
    width: 85%;
}

/* =========== component ========== */
.ebr-sidebar-items {
    width: 100%;
}

.ebr-sidebar-button {
    padding-top: 20px;
    padding-bottom: 10px;
}

.ebr-sidebar-button-bottom {
    position: absolute;
    bottom: 0px;
    width: -webkit-fill-available;
    padding-top: 20px;
    padding-bottom: 10px;
}

.ebr-icon-32 {
    display: block;
    margin: auto;
    width: 32px;
    height: 32px;
    color: #6c757d;
}

.ebr-icon-32:hover {
    display: block;
    margin: auto;
    width: 32px;
    height: 32px;
    color: #007bff !important;
}

.ebr-icon-32-current {
    color: #FF6600 !important;;
}