html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.ebr-visible {
  visibility: visible !important;
}

.ebr-invisible {
  visibility: hidden !important;
}

.ebr-container {
    display: inline-flex;
    width: 100%;
    height: 100%;
}

.ebr-sidebar {
    position: fixed;
    width: 90px;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    z-index: 9;
}

.ebr-sidebar-button {
    padding-top: 20px;
    padding-bottom: 20px;
}

.ebr-sidebar-button-bottom {
    position: absolute;
    bottom: 0px;
    width: -webkit-fill-available;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ebr-main {
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-left: 90px;
}

.ebr-icon-32 {
    display: block;
    margin: auto;
    width: 32px;
    height: 32px;
}

.ebr-icon-32:hover {
    display: block;
    margin: auto;
    width: 32px;
    height: 32px;
    color: #1e7e34;
}